.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 24px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.logo {
  width: 76px;
  height: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding-top: 10px;
  align-items: flex-start;
  background-image: url("./images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  margin-top: 100px;
  vertical-align: 24px;
}

p {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  margin-bottom: 15px;
}

ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: flex-start;
  margin: 0 15px 10px 0;
}
